# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ID=
TELEGRAM_BOT_USERNAME=
APP_SHORT_NAME=
INIT_DATA_MAX_AGE=86400 # seconds

# Supabase
SUPABASE_URL=
PROJECT_REF=
SUPABASE_ANON_KEY=
SERVICE_ROLE_KEY=
JWT_SECRET=
SUPABASE_DB_PASSWORD=

# Ads
AD_SDK_KEY=

